# Simulação de Monte Carlo

Para mais informações: https://pbpython.com/monte-carlo.html

Esse exemplo tenta prever quanto de dinheiro uma empresa deve orçamentar para comissões de venda para o próximo ano. Esse exemplo é interessante de modelar, porque existe uma fórmula definida para calcular comissões.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

sns.set_style('whitegrid')

In [10]:
# Definição das variáveis
avg = 1 # Média
std_dev = .1 # Desvio padrão
num_reps = 500 # Representantes de vendas
num_simulations = 1000 # Número de simulações

# Gera uma lista percentagens que irá replicar nossa distribuição normal histórica
pct_to_target = np.random.normal(avg, std_dev, num_reps).round(2)

In [12]:
sales_target_values = [75_000, 100_000, 200_000, 300_000, 400_000, 500_000]
sales_target_prob = [.3, .3, .2, .1, .05, .05]
sales_target = np.random.choice(sales_target_values, num_reps, p=sales_target_prob)

In [13]:
df = pd.DataFrame(index=range(num_reps), data={'Pct_To_Target': pct_to_target,
                                               'Sales_Target': sales_target})

df['Sales'] = df['Pct_To_Target'] * df['Sales_Target']

In [14]:
def calc_commission_rate(x):
    """ Return the commission rate based on the table:
    0-90% = 2%
    91-99% = 3%
    >= 100 = 4%
    """
    if x <= .90:
        return .02
    if x <= .99:
        return .03
    else:
        return .04

In [15]:
df['Commission_Rate'] = df['Pct_To_Target'].apply(calc_commission_rate)
df['Commission_Amount'] = df['Commission_Rate'] * df['Sales']

In [16]:
# Define a list to keep all the results from each simulation that we want to analyze
all_stats = []

# Loop through many simulations
for i in range(num_simulations):

    # Choose random inputs for the sales targets and percent to target
    sales_target = np.random.choice(sales_target_values, num_reps, p=sales_target_prob)
    pct_to_target = np.random.normal(avg, std_dev, num_reps).round(2)

    # Build the dataframe based on the inputs and number of reps
    df = pd.DataFrame(index=range(num_reps), data={'Pct_To_Target': pct_to_target,
                                                   'Sales_Target': sales_target})

    # Back into the sales number using the percent to target rate
    df['Sales'] = df['Pct_To_Target'] * df['Sales_Target']

    # Determine the commissions rate and calculate it
    df['Commission_Rate'] = df['Pct_To_Target'].apply(calc_commission_rate)
    df['Commission_Amount'] = df['Commission_Rate'] * df['Sales']

    # We want to track sales,commission amounts and sales targets over all the simulations
    all_stats.append([df['Sales'].sum().round(0),
                      df['Commission_Amount'].sum().round(0),
                      df['Sales_Target'].sum().round(0)])

In [17]:
results_df = pd.DataFrame.from_records(all_stats, columns=['Sales',
                                                           'Commission_Amount',
                                                           'Sales_Target'])

In [19]:
results_df.describe().style.format('{:,}')

In [18]:
print(results_df)

          Sales  Commission_Amount  Sales_Target
0    86188750.0          2984870.0      86050000
1    87162000.0          3013792.0      86325000
2    85259500.0          2945495.0      84800000
3    87444500.0          2982300.0      87400000
4    82574250.0          2814385.0      82775000
5    83304750.0          2830080.0      83325000
6    85359750.0          2917545.0      85775000
7    83019000.0          2870158.0      82700000
8    85246500.0          2934185.0      85225000
9    83669500.0          2839652.0      83875000
10   82798000.0          2863262.0      82875000
11   85368750.0          2930902.0      85100000
12   84153250.0          2906958.0      84000000
13   81336250.0          2788105.0      80975000
14   86178500.0          2908562.0      86500000
15   85416750.0          2895852.0      85775000
16   85636750.0          2994895.0      85075000
17   81940500.0          2711928.0      82900000
18   83813500.0          2858780.0      84000000
19   87862000.0          3007085.0      87325000
20   83855500.0          2844145.0      84425000
21   81707250.0          2815615.0      81250000
22   88899750.0          3029588.0      89100000
23   85843000.0          2983882.0      85450000
24   84593250.0          2911555.0      84125000
25   86340000.0          2941332.0      86675000
26   82429250.0          2820022.0      82425000
27   86774750.0          2972760.0      86375000
28   86067000.0          2951915.0      85750000
29   82796250.0          2849945.0      82400000
..          ...                ...           ...
970  84760500.0          2942878.0      84050000
971  86654750.0          2969512.0      86450000
972  85370250.0          2887425.0      85775000
973  83012250.0          2766450.0      83900000
974  79415250.0          2680120.0      79850000
975  80268500.0          2710768.0      80450000
976  84289750.0          2870728.0      84325000
977  81556750.0          2762355.0      81650000
978  87450750.0          2948602.0      87775000
979  80821000.0          2731648.0      81300000
980  81918000.0          2794402.0      82025000
981  86279250.0          2935272.0      86450000
982  81487000.0          2734842.0      81725000
983  86069500.0          2975995.0      85825000
984  80913250.0          2752320.0      81350000
985  85385250.0          2950740.0      85050000
986  89106000.0          3095055.0      88525000
987  79508250.0          2689542.0      80075000
988  86874250.0          2955878.0      87250000
989  86484250.0          2981928.0      85975000
990  87879000.0          3008612.0      87975000
991  86094000.0          2989485.0      84925000
992  81936250.0          2827120.0      81600000
993  88364000.0          3016260.0      88425000
994  84572500.0          2886035.0      84100000
995  87157500.0          2946515.0      87675000
996  89341750.0          3018938.0      89750000
997  84981000.0          2933630.0      85000000
998  87442500.0          3073372.0      86500000
999  83193000.0          2852985.0      83350000

[1000 rows x 3 columns]